[Unit]
Description=Gunicorn instance to serve {{ app_name }}
After=network.target
[Service]
User={{ ansible_ssh_user }}
WorkingDirectory=/home/{{ ansible_ssh_user }}/{{ app_name }}
Environment="PATH=/home/{{ ansible_ssh_user }}/{{ app_name }}/env/bin"
ExecStart=/home/{{ ansible_ssh_user }}/{{ app_name }}/env/bin/gunicorn -b localhost:8000 main:app
Restart=always
[Install]
WantedBy=multi-user.target
